body{
    background-color: #ffebcd;
    margin: 0;
    padding: 0;
}
h1 {
    /*text-align: center;*/
    font-size: large;
}
div {
    border: 2px solid #000;
    margin: 10px;
    padding: 10px;
}
div.head {
    width: 75%;
    text-align: center;
    border: 2px solid #000;
    margin: 20px auto;
}
div.lessons {
    width: 80%;
    text-align: left;
    border: 1px;
}

/* Lesson 1 */
header div {
    border: none;
}
div.blocks_l1 {
    width: 90%;
    margin: 10px auto;
    padding: 5%;
}
#fst_l1 {
    background-color: red;
}
#scnd_l1 {
    background-color: yellow;
}
#thrd_l1 {
    background-color: green;
}